<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SportSync</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SportSync.styles.css" asp-append-version="true" /> *@

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/head.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          integrity="sha512-..." />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
          rel="stylesheet" />
</head>
<body>
    <header class="inicio-img">
        <div class="navh">
            <div class="container__menu">
                <div class="logo">
                    <a href="index.html" class="enlace">
                        <img src="~/img/logo-sportsync.png" alt="logo" />
                    </a>
                </div>

                <div class="menu">
                    <i class="fa-solid fa-bars" id="btn_menu"></i>
                    <div id="back_menu"></div>
                    <nav id="nav">
                        <button class="responsive-button" id="close-button">
                            <i class="fa-solid fa-xmark" style="color: #000000"></i>
                        </button>
                        <div class="logorespos">
                            <img src="img/logo-sportsync.png" alt="logo" />
                        </div>

                        <ul class="fonnav">
                            <li>
                                <a class="text-link" href="@Url.Action("Inicio")">Inicio</a>
                            </li>
                            <li>
                                <a class="text-link" href="@Url.Action("Inicio", new { idDeporte = 1 })">Fútbol</a>
                            </li>
                            <li>
                                <a class="text-link" href="@Url.Action("Inicio", new { idDeporte = 2 })">Baloncesto</a>
                            </li>
                            <li>
                                <a class="text-link" href="@Url.Action("Inicio", new { idDeporte = 3 })">Voleibol</a>
                            </li>
                            <li>
                                <a class="sign-in" href="@Url.Action("Login", "Home")">Iniciar Sesión</a>
                            </li>
                        </ul>
                        <ul></ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>


    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="text-center text-lg-start bg-body-tertiary text-muted">
        <section class="d-flex justify-content-center justify-content-lg-center p-4 border-bottom">
            <div>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-google"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-github"></i>
                </a>
            </div>
            <!-- Right -->
        </section>

        <div class="text-center p-4"
             style="background-color: rgba(0, 0, 0, 0.05)">
            © 2024:
            <a class="text-reset fw-bold" href="">SPORTSYNC</a>
        </div>
    </footer>
    <!-- Footer -->
    <script src="js/script.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
