@model IEnumerable<dynamic>

@{
    ViewData["Title"] = "Panel de Árbitro";
    Layout = "Arbitro/_LayoutPanelArbitro";
}

<main class="content">
    <div class="container-fluid p-0">
        <div id="usuarioContenido" class="contenido">
            <div class="card">
                <div class="card-body">
                    <div class="asignaciones">
                        <h2>Tus Asignaciones</h2>

                        <table class="custom-table">
                            <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Hora</th>
                                    <th>Ubicación</th>
                                    <th>Nombre del Torneo</th>
                                    <th>Equipo Local</th>
                                    <th>Equipo Visitante</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var asignacion in Model)
                                {
                                    <tr>
                                        <td>@asignacion.Fecha.ToShortDateString()</td>
                                        <td>@asignacion.Hora.ToString(@"hh\:mm")</td>
                                        <td>@asignacion.Ubicacion</td>
                                        <td>@asignacion.NombreTorneo</td>
                                        <td>@asignacion.EquipoLocal</td>
                                        <td>@asignacion.EquipoVisitante</td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    $(document).ready(function () {
        $('#asignacionesTable').DataTable({
            "paging": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "lengthChange": true,
            "pageLength": 10, // Número de filas mostradas por página
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.11.5/i18n/Spanish.json"
            },
            "dom": '<"top"f>rt<"bottom"lp><"clear">' // Personalización del layout de DataTables
        });
    });
</script>

<script>
    $(document).ready(function () {
        $('#asignacionesTable').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>
