@model SportSync.Models.ViewModels.PageInfoViewModel

@{
    ViewData["Title"] = "Sport Sync Inicio";
}

    <main class="p-5">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8 p-2">
            <div class="shadow-lg bg-body rounded p-4">

             <!-- Buscador -->
                    <div class="input-group p-4">
                <i
                  class="input-group-text rounded-0 fa-solid fa-magnifying-glass"
                ></i>
                <input
                  type="text"
                  class="form-control rounded-0"
                  placeholder="Buscar torneo"
                />
              </div>
              

              <!-- Cartas de Torneo -->

              <div class="row">

                  @foreach (var torneo in Model.Torneos)
                        {
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="p-3 card-contenido">
                                        <div>
                                            <p class="card-text fs-6">
                                                <strong>@torneo.Nombre</strong><br />
                                                <span>Categoria: @torneo.Categoria </span>
                                                <span> <b>Del: </b>@torneo.FechaInicio.ToShortDateString() -  <b>Hasta: </b>@torneo.FechaFin.ToShortDateString() </span>
                                            </p>
                                            @* <a href="Torneo.cshtml" class="btn btn-outline-primary">M치s informaci칩n</a> *@
                                            <a href="@Url.Action("Torneo", "PageMain", new { idTorneo = torneo.IdTorneo })" class="btn btn-outline-primary">M치s informaci칩n</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
              </div>
              <!-- FIn Cards fila -->

            </div>
          </div>
          <!-- Columa de noticias -->

          @await Html.PartialAsync("~/Views/Shared/Partials/_cardPageMainNoticias.cshtml")

          <!-- fin Columa de noticias -->
        </div>
      </div>
    </main>
