@model SportSync.Models.ViewModels.PageInfoViewModel

@{
    var idEquipo = ViewBag.IdEquipo;
}

<!-- Segundo navbar -->
@await Html.PartialAsync("~/Views/Shared/Partials/_navbarPageMainEquipo.cshtml")

<main class="p-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 p-3">
                <div class="shadow-lg bg-body rounded p-4">
                    <div class="pb-4">
                        <strong>Próximos partidos</strong>
                    </div>
                    <!-- Cards fila -->
                    <div class="row">
                        @foreach (var evaluacion in Model.EvaluacionesArbitraje)
                        {
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-body card-partidos">
                                        <div class="image-container">
                                            <img src="https://via.placeholder.com/150"
                                                 alt="Imagen del equipo local" />
                                            @* <strong>@evaluacion.NombreEquipoLocal</strong> *@
                                        </div>
                                        <div class="content">
                                            <p class="card-text fs-6 text-center">
                                                <span>@evaluacion.Ubicacion</span>
                                                <strong>@evaluacion.ResultadoEquipoGanador - @evaluacion.ResultadoEquipoPerdedor</strong><br />
                                                <span>@evaluacion.Hora.ToString("hh:mm tt")</span>
                                                <span>@evaluacion.Fecha.ToString("MMMM dd")</span>
                                            </p>
                                        </div>
                                        <div class="image-container">
                                            <img src="https://via.placeholder.com/150"
                                                 alt="Imagen del equipo visitante" />
                                            @* <strong>@evaluacion.NombreEquipoVisitante</strong> *@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <!-- Fin Cards -->
                </div>
            </div>

            <!-- Columna de noticias -->
            @await Html.PartialAsync("~/Views/Shared/Partials/_cardPageMainNoticias.cshtml")
            <!-- fin Columa de noticias -->
        </div>
    </div>
</main>
