@model SportSync.Models.ViewModels.PageInfoViewModel

@{
    var idTorneo = ViewBag.IdTorneo;
}

<!-- Segundo navbar -->
@await Html.PartialAsync("~/Views/Shared/Partials/_navbarPageMainTorneo.cshtml")


<main class="p-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 p-3">
                <div class="shadow-lg bg-body rounded p-4">
                    <div class="input-group p-4">
                        <i class="input-group-text rounded-0 fa-solid fa-magnifying-glass"></i>
                        <input type="text"
                               class="form-control rounded-0"
                               placeholder="Buscar equipo" />
                    </div>
                    <!-- Cards fila -->
                    <div class="row">
                        @foreach (var equipo in Model.Equipos)
                        {
                            <div class="col-md-6">
                               @*  <div class="card">
                                    <div class="card-body card-contenido">
                                        <img src="https://via.placeholder.com/150"
                                             alt="Imagen del equipo" />
                                        <div>
                                            <p class="card-text fs-6">
                                                <strong>Nombre del equipo:</strong><br />
                                                <span>@equipo.Nombre</span><br />
                                                <strong>Deporte:</strong><br />
                                                <span>@equipo.Categoria</span>
                                            </p>
                                            <a href="equipo.html" class="btn btn-outline-primary">Más información</a>
                                            <a href="@Url.Action("Equipo", "PageMain", new { idEquipo = equipo.IdEquipo })" class="btn btn-outline-primary">Más información</a>
                                        </div>
                                    </div>
                                </div> *@

                                <div class="card h-100">
                                     <img src="https://via.placeholder.com/150"
                                             alt="Imagen del equipo" />
                                    <div class="p-3">
                                        <p class="card-text text-danger fw-bold fs-3">@equipo.Nombre</p>
                                        <p class="card-text fs-6"><strong>Categoria: </strong>@equipo.Categoria</p>
                                    </div>
                                    <div class="card-footer">
                                        <a href="@Url.Action("Equipo", "PageMain", new { idEquipo = equipo.IdEquipo })" class="btn btn-outline-primary">Más información</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <!-- Fin Cards -->
                </div>
            </div>
            <!-- Columa de noticias -->
            @await Html.PartialAsync("~/Views/Shared/Partials/_cardPageMainNoticias.cshtml")
            <!-- fin Columa de noticias -->
        </div>
    </div>
</main>
