@{
    ViewData["Title"] = "Coach";
    Layout = "_LayoutTorneosUsers";
}

@model IEnumerable<SportSync.Models.Torneo>

<div class="container-fluid p-0">
    @if (User.Identity.IsAuthenticated)
    {
        <span class="text-dark"><b>Coach: </b> @User.Identity.Name</span>
    }
</div>

<h1>Torneos Inscritos</h1>

<div class="grid">
    @foreach (var torneo in Model)
    {
        <div class="card">
            @* Si tienes una imagen para el torneo, puedes descomentar y ajustar esta línea *@
            @* <img src="data:image/jpeg;base64,@Convert.ToBase64String(torneo.IMG_torneo)" alt="@torneo.Nombre" style="width:400px; height:200px;" /> *@
            <div class="card-content">
                <h2>@torneo.Nombre</h2>
                <p>@torneo.Categoria</p>
                <p>@torneo.FechaInicio.ToShortDateString() - @torneo.FechaFin.ToShortDateString()</p>
                <a href="@Url.Action("PanelEquipoCoach", "Coach", new { idTorneo = torneo.IdTorneo })">Ir al torneo</a>
            </div>
        </div>
    }

