@{
    ViewData["Title"] = "Panel de Coach Partidos";
    Layout = "Coach/_LayoutPanelCoach";
}

<main class="content">
    <div class="container-fluid p-0">
        <div id="rolesContenido" class="contenido">
            <div class="card">
                <div class="card-body">
                    <div class="cardtble">
                        <h2>Partidos Pendientes</h2><br>
                        <table id="pending-matches" class="matches-table">
                            <thead>
                                <tr>
                                    <th>Partido</th>
                                    <th>Fecha</th>
                                    <th>Hora</th>
                                    @* <th>Locación</th> *@
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var partido in (List<SportSync.Models.Partido>)ViewData["PartidosPendientes"])
                                {
                                    <tr>
                                        <td>@partido.IdEquipoLocalNavigation.Nombre vs @partido.IdEquipoVisitanteNavigation.Nombre</td>
                                        <td>@partido.Fecha.ToShortDateString()</td>
                                        <td>@partido.Hora</td>
                                        @* <td>@partido.Locacion</td> *@
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="pagination">
                            <div class="pagination-menu">
                                <!-- Aquí se generará el menú de paginación -->
                            </div>
                        </div>
                    </div>

                    <div class="cardtble">
                        <h2>Partidos Finalizados</h2><br>
                        <table id="finished-matches" class="matches-table">
                            <thead>
                                <tr>
                                    <th>Partido</th>
                                    <th>Fecha</th>
                                    <th>Hora</th>
                                    @* <th>Locación</th> *@
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var partido in (List<SportSync.Models.Partido>)ViewData["PartidosFinalizados"])
                                {
                                    <tr>
                                        <td>@partido.IdEquipoLocalNavigation.Nombre vs @partido.IdEquipoVisitanteNavigation.Nombre</td>
                                        <td>@partido.Fecha.ToShortDateString()</td>
                                        <td>@partido.Hora</td>
                                        @* <td>@partido.Locacion</td> *@
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="pagination">
                            <div class="pagination-menu">
                                <!-- Aquí se generará el menú de paginación -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>
