@model SportSync.ViewModels.CoachViewModel
@{
    ViewData["Title"] = "SportSyncSoftware Organizador Coaches";
    Layout = "Organizador/_LayoutPanelOrganizador";
}

<main class="content">
    <div class="container-fluid p-0">
        <h3 class="fw-bold">Coaches</h3>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="input-group flex-nowrap form-search">
                            <span class="input-group-text" id="addon-wrapping">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </span>
                            <input type="text"
                                   class="form-control form-xx"
                                   placeholder="Buscar Coache" />
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped display" id="equipos">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Imagen</th>
                                    <th>Nombre</th>
                                    <th>Equipo</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var coach in Model.Usuarios)
                                {
                                    <tr>
                                        <th scope="row">@coach.IdUsuario</th>
                                        <td>
                                            <img src="~/img/coach.png" alt="Imagen del Coach" />
                                        </td>
                                        <td>@coach.Nombre @coach.ApPaterno @coach.ApMaterno</td>

                                        <td>
                                            @if (coach.Equipos != null && coach.Equipos.Any())
                                            {
                                                @coach.Equipos.First().Nombre
                                            }
                                            else
                                            {
                                                <span>No asignado</span>
                                            }
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


            

            
