@model SportSync.ViewModels.TorneoViewModel
@{
    Layout = "Organizador/_LayoutPanelOrganizador";
}

<main class="content">
    <div class="container-fluid p-0">
        <!-- BREADCRUMB -->
        <nav class="fw-bold">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-controller="Organizador" asp-action="index">Torneos</a>
                </li>
                <li class="breadcrumb-item active">Gestión del torneo</li>
            </ol>
        </nav>
        <!-- ---------- -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header text-center">
                        <h3 class="fw-bold">Gestión del torneo</h3>
                    </div>
                    <div class="card-body align-self-center">
                        <form action="@Url.Action("GuardarCambios", "Organizador")" method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3 text-center">
                                        <p class="form-label">Imagen del torneo:</p>
                                        <img src="@Model.Torneo.ImgTorneo" width="200" />
                                    </div>
                                    <input asp-for="Torneo.IdTorneo" class="form-control" type="hidden" required />
                                    <input asp-for="Torneo.ImgTorneo" class="form-control" type="hidden" required />
                                    <div class="mb-3">
                                        <label class="form-label">Nombre del torneo:</label>
                                        <input asp-for="Torneo.Nombre" class="form-control" required />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Deporte:</label>
                                        <select asp-for="Torneo.IdDeporte" asp-items="ViewBag.Deportes" class="form-select" required></select>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Categoria:</label>
                                        <input asp-for="Torneo.Categoria" class="form-control" required />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label class="form-label">Fecha de inicio:</label>
                                        <input asp-for="Torneo.FechaInicio" class="form-control" type="date" required />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label class="form-label">Fecha de fin:</label>
                                        <input asp-for="Torneo.FechaFin" class="form-control" type="date" required />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="text-center mt-3">
                                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <!-- Equipos Inscritos -->
            <div class="col-12 mt-3">
                <div class="card">
                    <div class="card-header text-center">
                        <h3 class="fw-bold">Equipos Inscritos</h3>
                    </div>
                    <div class="card-body">
                        <table id="datatables-reponsive" class="table table-striped w-100">
                            <thead>
                                <tr>
                                    <th>Nombre del equipo</th>

                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var equipoTorneo in Model.Equipos)
                                {

                                    <tr>
                                        <td>@equipoTorneo.Nombre</td>

                                        <td>
                                            <form asp-action="EliminarEquipo" method="post">
                                                <input type="hidden" name="equipoId" value="@equipoTorneo.IdEquipo" />
                                                <input type="hidden" name="torneoId" value="@Model.Torneo.IdTorneo" />
                                                <button type="submit" class="btn btn-danger">Eliminar</button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-12 text-center">
                                <button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#agregarEquipoModal">
                                    Agregar Equipo
                                </button>
                            </div>
                        </div>

                        <!-- Modal para agregar equipo -->
                        <div class="modal fade" id="agregarEquipoModal" tabindex="-1" aria-labelledby="agregarEquipoModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="agregarEquipoModalLabel">Agregar nuevo equipo</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="@Url.Action("AgregarEquipo", "Organizador")" method="post">
                                            <div class="mb-3">
                                                <label class="form-label">Nombre del equipo:</label>
                                                <select name="idEquipo" id="idEquipo" asp-items="ViewBag.Equipos" class="form-select" required></select>
                                            </div>
                                            <input name="idTorneo" class="form-control" type="hidden" value="@Model.Torneo.IdTorneo" required />

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                                <button type="submit" class="btn btn-primary">Agregar Equipo</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Fin del Modal -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
