@model SportSync.ViewModels.TorneosViewModel

@{
    ViewData["Title"] = "SportSyncSoftware Organizador";
    Layout = "Organizador/_LayoutPanelOrganizador";
}

<main class="content">
    <div class="container-fluid p-0">
        <div class="d-flex justify-content-between align-items-center">
            <h3 class="fw-bold">Torneos actuales</h3>
            <div class="d-flex nav-card">
                <a href="#" class="me-3 card-link">Futbol <i class="fa-solid fa-futbol"></i></a>
                <a href="#" class="me-3 card-link">Basketball <i class="fa-solid fa-basketball"></i></a>
                <a href="#" class="me-3 card-link">Volleyball <i class="fa-solid fa-volleyball"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="input-group flex-nowrap form-search">
                            <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-magnifying-glass"></i></span>
                            <input type="text" class="form-control form-xx" placeholder="Buscar torneo" />
                        </div>
                    </div>
                    <div class="card-body align-self-center">
                        <div class="row">
                            @foreach (var torneo in Model.Torneos)
                            {
                                <div class="col-md-6">
                                    <div class="card mb-3 shadown-card" style="max-width: 540px">
                                        <div class="row g-0">
                                            <div class="col-md-5 p-2">
                                                @* <img src="@torneo.ImgTorneo" class="img-fluid img-torneos" alt="Imagen del torneo" /> *@
                                            </div>
                                            <div class="col-md-7">
                                                <div class="card-body">
                                                    <h5 class="card-title">@torneo.Nombre</h5>
                                                    <p>Deporte: @Model.Deportes[torneo.IdDeporte]</p>
                                                    <p>Categoría: @torneo.Categoria</p>


                                                    <a type="button" class="btn btn-primary btn-sm" asp-controller="Organizador" asp-action="GestionarTorneo" asp-route-id="@torneo.IdTorneo">
                                                        Gestionar
                                                    </a>
                                                    <form asp-action="EliminarTorneo" asp-controller="Organizador" method="post" class="d-inline">
                                                        <input type="hidden" name="idTorneo" value="@torneo.IdTorneo" />
                                                        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de que quieres eliminar este torneo?');">
                                                            Eliminar
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="button-floating p-4">
        <a class="btn btn-primary" asp-controller="Organizador" asp-action="crearTorneo">
            <i class="fa-solid fa-circle-plus m-2" style="color: #ffffff; font-size: medium"></i>Nuevo torneo
        </a>
    </div>
</main>
            
        

 
